.header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  gap: 1.5rem; 
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-text {
  display: flex;
  flex-direction: column;
}
.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #0085ff, #0085ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
}
.logo-subtitle {
  margin-left: 64px;
  font-size: 0.75rem;
  color: #ccc;
}
/* Right section containing buttons */
.header-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* Toggle buttons */

.theme-toggle { 
  /* background: transparent;
  border: 1px solid #00d5ff; */
  /* border-radius: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.history-toggle-btn:hover {
  background-color: rgba(0, 213, 255, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .logo {
     white-space: nowrap;
    font-size: 1rem;
  }
 .history-toggle-btn{
  width: 200px;
  height: 25px;
  margin-left: 0px;
  background: transparent;
  border: 1px solid #0085ff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
 }
  .theme-toggle {
    /* width: 6px;
    height: 6px; */
    font-size: 0.5rem;
    border-radius: 10px;
  }

  .header-content {
    gap: 0.75rem;
  }
}
