.app-footer {
  background-color:rgba(0, 198, 255, 0.12);
  color: #eee;
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  border-top: 1px solid rgba(0, 198, 255, 0.12);
  margin-top: 3rem;
}

.footer-content p {
  margin: 0.3rem 0;
  opacity: 0.8;
}
