/* src/components/Theme/Theme.css */
.theme-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  display: none;
}

.theme-label {
  width: 50px;
  height: 20px;
  border-radius: 999px;
  background: #f3f3f3;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
  display: inline-block;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  box-shadow: 
    2px 2px 6px rgba(0, 0, 0, 0.1),
    -2px -2px 6px rgba(0, 0, 0, 0.05) inset;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

svg {
  width: 20px;
  height: 20px;
  position: absolute;
  transition: all 0.4s ease;
}

.sun {
  color: #FFD600;
  opacity: 1;
  transform: translateY(0);
}

.moon {
  color: #ffffff;
  opacity: 0;
  transform: translateY(-150%);
}

input:checked + .theme-label {
  background: #1F1F21;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.4);
}

input:checked + .theme-label .circle {
  left: calc(100% - 36px);
  background: #2C2C2F;
}

input:checked + .theme-label .sun {
  transform: translateY(150%);
  opacity: 0;
}

input:checked + .theme-label .moon {
  transform: translateY(0);
  opacity: 1;
}

.theme-label:active .circle {
  width: 38px;
}
